.DS_Store
.venv
.vscode
.pytest_cache
.mypy_cache
/dist
/build
.env

**/__pycache__
**/package.json
**/*.egg-info

# AppCode template
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# File-based project format
*.iws
.idea/**